<font color='navygray'>09.0BollingerBands</font><br>
<font color='navygray'>Por Carlos Crespo Elizondo, MSF</font><br>
MF-013 Análisis de Inversión<br>
Maestría de Finanzas, Facultad de Economía, UANL<br>

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pylab import plt
plt.style.use('seaborn')

In [3]:
accion = 'ipc'
url = 'http://bit.ly/oncedos-ipc'

In [6]:
df = pd.read_csv(url, index_col = 0, parse_dates = True)

In [7]:
df.sort_index(inplace = True)

In [8]:
df.head()

                   Open         High          Low        Close
Date
2014-01-02  42725.53125  42841.96094  42115.35938  42188.44922
2014-01-03  42191.10938  42274.60938  41842.96094  42064.96875
2014-01-06  42093.55859  42143.16016  41522.48828  41525.94922
2014-01-07  41532.87891  41883.37109  41522.17188  41778.60156
2014-01-08  41783.80078  41915.35938  41389.39844  41515.48828

In [9]:
df = df[df.index > '1-1-2016']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 946 entries, 2016-01-04 to 2019-10-04
Data columns (total 4 columns):
Open     946 non-null float64
High     946 non-null float64
Low      946 non-null float64
Close    946 non-null float64
dtypes: float64(4)
memory usage: 37.0 KB

# Estrategia Bandas de Bollinger